[Unit]
Description=Volp-E face kiosk
After=volpe-brain.service graphical.target
Wants=volpe-brain.service

[Service]
Type=simple
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
ExecStart=/usr/bin/startx /opt/volp-e/bin/start-face.sh -- :0 -nocursor
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
